table {
    display: none;
}

.enviado {
    color: green;
}

.btn-fav{
    background-color: transparent;
    border: none;
}

.active {
    background-color: gray;
}

#button3{
    color: red;
    padding: 15px;
}